* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* width: 100%; */
  
}

@font-face {
  font-family: "TTnorms-bold";
  src: url("assets/fonts/TTNorms-Bold.woff2");
}

@font-face {
  font-family: "TTnorms-medium";
  src: url("assets/fonts/TTNorms-Medium.woff2");
}

@font-face {
  font-family: "TTnorms-regular";
  src: url("assets/fonts/TTNorms-Regular.woff2");
}

@font-face {
  font-family: "TT Norms";
  src: url("https://typography.doordash.com/TTNorms-Medium.woff2") format("woff2"), url("https://typography.doordash.com/TTNorms-Medium.woff") format("woff"), url("https://typography.doordash.com/TTNorms-Medium.ttf") format("truetype"), url("https://typography.doordash.com/TTNorms-Medium.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 500;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.doordash {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

.banner {
  display: flex;
  width: 100%;
  background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png");
  height: 65.3vh;
  background-size: cover;
  overflow: hidden;
  /* height: 550px; */
  padding: 0px 8px;
  flex-flow: column;
  align-items: center;
  z-index: 1;
  /* justify-content: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.center-padding {
  width: 100%;
  height: 100%;

  justify-content: center;
  display: flex;
  /* margin-top:10px ; */
}

/* @media screen and (min-width:382px) { */
.doordash {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

header {
  display: none;
}

.logo {
  display: none;
}

.desktop-tab {
  display: none;
}

.desktop-span {
  display: none;
}

.signin {
  display: none;
}




/* mobile screen */


.doordash {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

header {
  display: none;
}



.desktop-tab {
  display: none;
}

.banner {
  height: 550px;
  /* width: 100%; */
}

.desktop-span {
  display: none;
}

.signin {
  display: none;
}

.mobile {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  height: 100%;
}


.hide {
  display: flex;
  justify-content: flex-end;
  gap: 7.3px;
  /* background-color: aqua; */
  /* margin-top: -145px; */
  width: 100%;
  /* padding-right4px; */
  margin-left: -31px;
  height: max-content;
  position: absolute;
  align-items: flex-start;
  top: 10px;
  box-sizing: border-box;
  margin-top: -1px;

}

.hide button {
  display: flex;
  align-items: center;
  width: 100%;
  width: max-content;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 5px 12.5px 4px;
  /* padding-bottom: 5px; */
  margin: 0;
  font-family: "TTnorms-bold" !important;
  font-size: 15px;
  line-height: 23px;
  border: none;
  border-radius: 18px;
  margin-left: .5px;
  margin-top: 6.5px;
  /* position: fixed; */
}

.hide .login {
  background-color: white;
  padding-left: 12.5px;
  padding-right: 12.4px;
  letter-spacing: 0.3px;
  margin-left: 12px;
}

.hide .openapp {
  background-color: rgb(235, 23, 0);
  color: white;
  letter-spacing: 0.5px;
  margin-left: .5px;
  padding: 5px 13px 4px;
  /* padding-left: 12.6px; */

}

.center-padding {
  height: 100%;
  justify-content: center;
  display: flex;
}

.center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* margin-top: 129px; */
  align-items: center;
  /* gap: 16px; */
  /* margin-left:-10px ; */
  height: 100%;
  margin-top: 15px;

}

.logo-mob {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: -13px;
  margin-bottom: 20px;
 

}

.logo-mob .logo1 {
  width: 32px;
  height: 100%;
  margin-top: 3px;


}

.name-mob{
  margin-top: 3.2px;
  margin-left: 8px;

}

.h2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 17.8px;
  margin-top: px;
}

.h2 h2 {
  max-width: 325px;
  letter-spacing: 0px;
  font-size: 22px;
  line-height: 28px;
  font-family: "TTnorms-bold";
  color: white;
  /* align-items: center; */
  text-align: center;
  font-weight: 400;

}

.address {
  /* margin-top: 2px; */
}

.form {
  background-color: white;
  display: flex;
  padding: 4px 3.5px;
  border-radius: 25px;
  min-height: 40px;
  width: 347px;
  justify-content: space-between;
  /* margin-left: 13px; */
  /* padding-top: 2px; */
  margin-top: 6px;
}

.form-cont {
  display: flex;
  flex-flow: row;
  padding-top: px;
  padding-left: 11px;
  /* gap: 16px; */
  padding-right: 5px;
  width: 100%;
  justify-content: space-between;
  /* padding: 5px; */
}

.form img {
  display: flex;
  align-items: center;
  width: 24px;
  margin-left: 2px;
  /* padding-right: 1px; */
}

.flex {
  display: flex;
}

.form input {
  border: none;
  font-family: "TT Norms";
  font-size: 16px;
  line-height: 22px;
  width: min-content;
  color: #767676ff;
  /* margin-left: 10px; */
  /* background-color: #eb1700; */
  margin-left: 11.5px;
}

.form button {
  border: none;
  background: transparent;
  /* width: 50px; */


}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.3px;

}


.user {
  display: flex;
  flex-flow: row;
  background-color: white;
  gap: 4px;
  padding: 6px 12px 6px 12px;
  border-radius: 24px;
  margin-top: 16px;
  letter-spacing: 0.1px;
}

/* .user svg {
  margin-top: 2.2px;
} */
user img {
  margin-top: 2.2px;
}
.user .mobile-span {
  font-family: "TTnorms-bold" !important;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
}

.tab {
  display: none;
}

.desktop-span {
  display: none;
}

/* main */
.main {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* gap: 20px */
}

/* add */

.add-main{
  /* width: 100%; */
  justify-content: center;
  margin: auto;
  max-width: 400px;
  height: 165px;
}
.add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0px;
  width: 360px;
  /* width: 100%; */

}

.add-padding {
  display: flex;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(247, 247, 247);
  max-width: 100%;
  padding: 20px;
}

.add-content {
  display: flex;
  flex-flow: row;
  text-align: left;
  margin-top: .5px;
}

.samall-logo {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid rgb(243, 239, 239);
  background-color: rgb(255, 255, 255);
  margin-right: 8px;
  padding: 7.9px 10.3px 9px 8px;
  justify-content: center;
  margin-top: .5px;
  /* box-sizing: border-box; */

}

.small.logo img {
  box-sizing: border-box;
  margin-bottom: 1px;
}

.add-discript {
  display: flex;
  flex-flow: column;
  text-align: left;
  /* gap:3px */
  margin-left: -.1px;
}

.add-discript .head {
  font-size: 18px;
  font-family: "TTnorms-bold";
  line-height: 22px;
  letter-spacing: -0.01px;
  text-transform: none;
  color: rgb(25, 25, 25);
  margin-bottom: 2px;
}

.add-discript p {
  line-height: 22px;
  letter-spacing: 0px;
  font-size: 14px;
  color: rgb(118, 118, 118);
  font-family: "TT Norms";
  margin-bottom: 6px;
}

.add-discript button {
  position: relative;
  max-width: 124.217px;
  display: inline-flex;
  min-height: 32px;
  width: auto;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: medium;
  cursor: pointer;
  background-color: rgb(235, 23, 0);
  box-shadow: transparent 0px 0px 0px 1px inset;
  color: rgb(255, 255, 255);
  gap: 4px;
}

.add-discript span {
  font-size: 14px;
  font-family: "TTnorms-bold";
  line-height: 16px;
  text-align: center;
  align-items: center;
}


/* main1 */
.section1 {
  max-width: 768px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  height:100% ;


}

.section-padding {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;
  

}

.section-content {
  
  justify-content: center;
  /* gap: 30px; */
  width: 100%;
margin: auto;

}
.cardssss{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card {

  width: 100%;
  padding: 16px;
    margin-top: 1px;
}

.card-padding {
  display: flex;
  width: 100%;
  min-width: 360px;
  flex-flow: row;
  /* padding: 6px; */
  align-items: flex-start;
  height:100% ;
}

.picture {
  margin-right: 32px;
  display: flex;
  height: 100%;
  
}

.picture img {
  height: 88px;
  width: 88px;
}

.discript {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 250px;
  gap: 10px;
  /* margin-top: 20.5px; */
  letter-spacing: -0.18px;

}

.info {
  max-width: 100%;
}

.info h2 {
  font-family: "TTnorms-bold";
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -0.01px;
}

.info h3 {
  font-family: "TTnorms-medium";
  font-size: 17.7px;
  line-height: 24px;
  max-width: 100%;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.discript button {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  border: none;
  gap: 4px;
  margin-top: 2px;

}

.discript button span {
  color: #eb1700ff;
  font-family: "TTnorms-bold";
  font-size: 14px;
  line-height: 20px;

}

.section2 {
  width: 100%;
}

.right-pic {
  width: 100%;
}

.right-padding {
  margin-bottom: -300px;
}

.pic-contents {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 90%;
  align-items: center;

}

.right-img {
  width: 100%;
}

.right-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.pic-discript {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  min-height: 220px;
  /* max-width: 344px; */
  /* background-color: rgb(254, 241, 238); */
}

.pic-discript h2 {
  text-align: left;
  max-width: 90%;
  /* margin-top: 20px; */
  font-family: "TTnorms-bold";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01px;
  /* margin-top:50px; */
}

.pic-discript span {
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  font-family: "TTnorms-bold";
  font-weight: 500;

}

.pic-discript p {
  margin-top: 10px;
  font-family: "TT Norms";
  font-size: 14px;
  line-height: 20px;
  display: block;
}

.button {
  padding: 10px;
}

.button span {
  font-family: "TTnorms-bold";
  font-size: 14px;
  background-color: #eb1700;
  color: white;
  padding: 7px 10px;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  display: inline-flex;
}

.left-pic {
  width: 100%;
  background-color: rgb(254, 241, 238);
}

.left-padding {
  display: flex;
  flex-direction: column;
  padding-top: 320px;
  align-items: center;
  min-width: 90%;
}

.mid-image {
  background: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png");
  position: relative;
  height: 350px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.mid-padding {
  background-color: rgba(30, 30, 30, 0.6);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  place-content: center;
  text-align: center;
}

.mid-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 550px;
  text-align: center;
  color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
}

.mid-contents h2 {

  font-family: "TTnorms-bold";
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  max-width: 90%;
  margin-top: 20px;
}

.mid-contents span {

  font-family: "TTnorms-bold";
  font-weight: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.mid-contents p {
  font-family: "TT Norms";
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.four-pic-head {
  display: flex;
  justify-content: center;
  background-color: rgb(254, 241, 238);
  padding: 40px 20px 20px;
  width: 100%;
  margin-top: 230px;
}

.four-pic-head h2 {
  text-align: center;
  max-width: 300px;
  font-family: "TTnorms-bold";
  font-size: 24px;
  line-height: 28px;
  color: #191919;
  font-weight: 500;

}

.four-pic {
  display: flex;
  flex-flow: row;
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(254, 241, 238);
  box-sizing: border-box;

}


.four-pic-padding {
  display: flex;
  flex-flow: row;
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(254, 241, 238);
  box-sizing: border-box;
  gap: 20px;
}

.card-img {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  min-width: 90%;
  align-items: center;
  /* margin-left: 5%; */
  margin-right: -10%;

}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-discript {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card-discript h2 {
  max-width: 90%;
  margin-top: 20px;
  text-align: center;
  color: #191919;
  font-family: "TTnorms-bold";
  font-size: 24px;
  line-height: 28px;

}

.card-discript p {
  font-family: "TT Norms";
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

.opportunity {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 40px 20px 20px;
  width: 100%;
}

.opportunity h2 {
  display: flex;
  text-align: center;
  max-width: 320px;
  font-family: "TTnorms-bold" !important;
  font-size: 24px;
  line-height: 28px;
  display: block;
  width: 100%;
}

.left-padding2 {
  display: flex;
  flex-direction: column;
  padding-top: 320px;
  align-items: center;
  min-width: 90%;
}

.left-padding2 .pic-contents {
  margin-top: -80px;
}

/* prefooter */
.pre-footer {
  width: 100%;
  max-width: 1130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pre-footer h2 {
  text-align: center;
  font-family: "TTnorms-bold";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 2px;

}

.sub-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

}

.sub-head>div {
  box-sizing: border-box;
  width: 33.33%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  border-bottom: 2px solid #f1f1f1ff;

}

.sub-head>div p {
  font-family: "TT Norms";
  color: rgb(73, 73, 73);
}

.sub-head>div:first-child {
  box-sizing: border-box;
  width: 33.33%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  border-bottom: 3px solid #606060ff;

}

.sub-head>div:first-child p {
  font-family: "TTnorms-bold";
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.pre-foot-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.pre-content {
  width: 50%;

}

.city {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  min-height: 40px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition-property: background-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  background-color: white;
}

.city span {
  flex-grow: 2;
  min-width: 0px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;

}

.city span p {
  font-family: "TT Norms";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: block;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}

.footer {
  background-color: #191919;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

.footer-width {
  width: 1184px;
}

footer {
  max-width: 1160px;
  padding: 0px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-footer {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.top-footer h2 {
  font-size: 16px;
  font-family: "TT Norms";
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0ch;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  margin-bottom: 14px;
}

.catogory-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 12px; */
}

.catogory-section>div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  max-width: 170px;
}

.hidden>div {
  margin-right: 15px;
}

.catogory-content>div span {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "TT Norms";
  font-weight: 500;
  line-height: 28px;
  color: rgb(196, 196, 196);
  cursor: pointer;
}

.catogory-section span:hover {
  text-decoration: underline;
}

.mid-footer {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.mid-footer>div {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  gap: 20px
}

.mid-footer .catogory-section h2 {
  margin-bottom: 8px;
  font-weight: 500;
  font-family: "TTnorms-bold";
  line-height: 22px;
  color: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 13px;
}

.for-padding {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  gap: 12px;
  padding-bottom: 20px;
}

.for-padding span {
  opacity: 0.7;
  cursor: pointer;
}

.for-padding span>div {
  padding: 2px 8px;
  border-radius: 8px;
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower-footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.link {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  min-width: 250px;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  text-align: center;

}

.link span>div {
  cursor: pointer;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-right: 5px;
}

.link span {
  font-weight: 400;
  /* line-height: 18px; */
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-family: "TTnorms-regular";
}

.eng {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px;
  width: 154px;
}

.eng-contents {
  display: flex;
  min-height: 32px;
}

.eng-contents>div {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0ch;
  font-weight: 500;
  font-family: "TT Norms";
  color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  z-index: 1;
  padding: 1px 12px;
  border: medium;
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
  background-color: rgb(247, 247, 247);

}

.input {
  display: flex;
  flex-flow: row;
  background-color: #eb1700;
}

.input:first-child>div {
  max-width: 100%;
  /* margin-right: 8px; */
}

.input.text-logo {
  display: flex;
  max-width: 100%;
  margin: 0px auto;
  flex-flow: row;
}

.text-logo span {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0ch;
  font-weight: 500;
  font-family: "TT Norms";
  width: 100%;

}

.text-logo>div:nth-child(2) {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-left: 73px;
  right: 0px;
  /* height: 24px; */
  width: 24px;


}

.logo-tab {
  display: none;
}




/* tab screen */
@media screen and (min-width:768px) {
  .doordash {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-x: hidden;

  }

  .desktop {
    display: none;
  }

  .banner {
    height: 650px;
    display: flex;
    flex-flow: column;
    width: 100%;
    /* justify-content: center; */
  }

  .logo-mob {
    display: none;
  }

  .desktop-span {
    display: none;
  }

  .hide {
    display: none;
  }

  header {
    background: transparent;
    display: flex;
    flex-flow: row;
    margin-top: -2px;
    width: 100%;
    min-height: 40px;
    justify-content: center;
    /* align-items: center;*/

  }

  .logo-tab {
    display: flex;
    justify-content: center;
    top: 24px;
    flex-flow: row;
    /* width: 100%; */
    height: 18px;
    position: absolute;

  }
.name{
  display: none;

}

  .logo-tab svg {
    width: 100%;
    margin-top: 3px;
    height: 100%;
    margin-left: 8px;
    height: 13px;

  }

  .logo1 {
    width: 32px;
    /* margin-top: 2px; */
    /* position: sticky; */

  }

  .header {
    display: flex;
    width: 100%;
  }

  .signin {
    /* position: absolute; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 16px;
    gap: 8px;
    margin-left: -5px;
    /* height: 100%; */
    margin-top: 16px
  }

  .signin button {
    border: none;
    background: transparent;
    font-family: "TTnorms-bold" !important;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 24px;
    letter-spacing: -0.01px;

  }

  .signin .btn1 {
    background-color: #eb1700;
    color: white;
    padding: 8.8px 12px 8.8px 11.5px;
    letter-spacing: .01px;

  }


  .signin .btn2 {
    background-color: white;
    color: #505050;
    padding: 8px 12px;

  }

  .h2 {
    /* max-width: 350px; */
    letter-spacing: 0px;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin-top: -1px;
    margin-bottom: 0;


  }

  .h2 h2 {
    color: white;
    text-align: center;
    max-width: 750px;
    font-family: "TTnorms-bold";
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;

  }

  .address {
    margin-top: 22px;
    max-width: 408px;

  }

  .center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    position: relative;
    margin-top: 5px;
    /* margin-bottom: 16px; */
    height: 100%;
    /* margin-top:6px ; */

  }


  .form {
    display: none;
  }

  .desktop-tab {
    background-color: white;
    display: flex;
    padding: 4px 3.0px 4px 5px;
    border-radius: 25px;
    /* min-height: 40px; */
    height: 48px;
    min-width: 396px;
    width: 100%;
    justify-content: space-between;
    margin-left: -4.8px;
    border-radius: 32px;
    max-width: 408px;
  }

  .desktop-form {
    width: 100%;
    display: flex;
    /* min-height: 40px; */
    padding: 8px 7.5px 8px 4px;
    /* max-width: 100%; */
    margin-left: 11px;
    gap: 10px;
    justify-content: space-between;
  }

  .form-txt {
    display: flex;
  }

  .desktop-form img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    margin-right: 2px;


  }

  .desktop-form input {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0ch;
    font-weight: 500;
    border: none;
    font-family: "TT Norms";
    color: #767676ff;
    margin-left: 10px;
  }

  .desktop-form button {
    width: 100%;
    direction: flex;
    justify-content: flex-end;
    border: none;
    background: transparent;
    margin-left: -1px;
    align-items: center;
    padding-right: 3.5px;



  }

  .desktop-form>div:last-child {
    /* margin-left: -2px; */
    margin-top: 1px;
  }

  .desktop-form button svg {
    fill: #000;
    margin-top: 3px;
    margin-right: 1px;
    /* margin-left: 1px; */

  }

  .user {
    display: flex;
    flex-flow: row;
    background-color: white;
    gap: 4px;
    padding: 5px 12px;
    border-radius: 24px;
    margin-top: -4px;
    margin-top: 16px;
    width: 100;
  }

  /* .user svg {
    margin-top: 3px;
  } */
  .user img {
    margin-top: 3px;
    width: 16px;
    height: 16px;
  }

  .user span {
    font-family: "TTnorms-bold" !important;
    font-size: 13.333px;
    line-height: 22px;
    letter-spacing: .2px;
  }

  .tab {
    display: flex;
  }

  .mobile-span {
    display: none;
  }

  .add-main{
    display: none;
  }

  .section1 {
    margin-top: 32px;
  }

  .section-content {
    gap: 15px
  }
  .card-padding {
    display: flex;
    height: 100%;
  }

  .card .picture {
    margin-right: 64px;
    height:100% ;
  }

  .picture img {
    height: 124px;
    width: 124px;
  }
  
 
  .discript {
    max-width: 250px;
  }

  .discript h3 {
    font-size: 18px;
    letter-spacing: -0.01px;
    display: flex;
    line-height: 24px;
  }

  .discript .btn {
    margin-top: 1.5px;
    gap: 4px;
  }

  .section2 {
    width: 100%;
    margin-top: 20px;
    overflow-x: hidden;
    margin-top:-2px ;

  }

  .right-padding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -60px;
    padding: 20px;
    min-width: 90%;
    align-items: center;
  }

  .pic-contents {
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    gap: 60px;
    max-width: 1184px;
    padding: 0;
  }

  .pic-discript {
    max-width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    gap: 20px;
  }

  .pic-discript h2 {
    font-family: "TTnorms-bold";
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .pic-discript span {
    font-size: 20px;
    line-height: 24px;
  }

  .pic-discript .button span {
    font-size: 16px;
  }

  .pic-discript p {
    font-size: 16px;
    line-height: 22px;
  }

  .right-img {
    width: 100%;
  }

  .right-img img {
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .left-pic {
    width: 100%;
  }

  .left-padding {
    display: flex;
    /* flex-direction: row-reverse; */
    background-color: rgb(254, 241, 238);
    align-items: center;
    min-width: 90%;
    padding-top: 80px;
    flex-direction: row;
  }

  .left-padding2 {
    display: flex;
    /* flex-direction: row-reverse; */
    background-color: rgb(254, 241, 238);
    align-items: center;
    min-width: 90%;
    padding-top: 80px;
    flex-direction: row;
  }

  .left-padding2 .pic-contents {
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    gap: 60px;
    max-width: 1184px;
    padding: 0;
  }

  .left-padding .pic-contents {
    display: flex;
    /* flex-flow: row; */
    flex-direction: row;

  }

  .left-padding2 {
    display: flex;
    background-color: rgb(254, 241, 238);
    /* padding-top: 320px; */
    align-items: center;
    min-width: 90%;
    padding-top: 80px;
    flex-direction: row;
  }

  .pic-contents2 {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 20px;


  }

  .pic-contents2 .right-img {
    width: 100%;
  }

  .right-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .mid-image {
    height: 600px;

  }

  .mid-contents h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .mid-contents span {
    font-size: 20px;
    line-height: 20px;
  }

  .mid-contents p {
    font-size: 16px;
    line-height: 22px;
  }

  .four-pic-head {
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 60px 20px 40px;
    width: 100%;
    margin-top: 0;
  }

  .four-pic-head h2 {
    text-align: center;
    /* max-width: 500px; */
  }

  .four-pic {
    width: 100%;
    background-color: rgb(254, 241, 238);
    align-items: center;
    justify-content: center;

  }

  .four-pic-padding {

    display: grid;
    width: 100%;
    /* background-color: rgb(254, 241, 238); */
    grid-template-columns: repeat(2, 1fr);
    max-width: 1184px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    padding: 0 20px;
    overflow-x: hidden;
  }

  .four-pic-padding>:nth-child(2) {
    padding-top: 0;
    margin-top: 0;
    top: 0;
    margin-top: -60px;

  }

  .even .image img {
    width: 100%;
    aspect-ratio: 1/1;
    /* background-color: #eb1700; */
    overflow-x: hidden;

  }

  .card-img {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    /* /* max-width: 552px; */
    min-width: 344px;
    min-height: 344px;
    overflow-x: hidden;
    padding: 0;


  }

  .image {

    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 552px;
    max-height: 552px;
    min-width: 344px;
    min-height: 344px;
    aspect-ratio: 1/1;
  }

  .card-img img {
    /* position: absolute; */
    inset: 0px;
    min-width: 344px;
    max-height: 552px;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .card-discript {
    display: flex;
    flex-flow: column;
    width: 100%;
    min-width: 309.6px;
  }

  .card-discript h2 {
    font-size: 40px;
    line-height: 40px;
    max-width: 496px;
    margin-top: 20px;
    font-weight: 500;

    text-align: center;
  }

  .card-discript p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;

  }

  .card-discript .button {
    margin-top: 30px;
  }

  .opportunity h2 {
    text-align: center;
    max-width: 500px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }

  .pre-footer h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    margin-bottom: 4px;
  }

  .pre-content {
    width: 33.33%;
  }

  .top-footer h2 {
    text-align: left;
  }

  .catogory-content {
    display: flex;
    flex-flow: row;
    text-align: left;
    gap: 12px;
    align-items: flex-start;
  }

  .catgogory-section {
    width: 100%;
    /* max-width: 173px; */
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  }

  .hidden {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    gap: 12px;
  }

  .lower-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 20px 0px 32px;
  }

  .link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    gap: 2px;
    text-align: left;

  }

  .link span {
    padding: 0 8px;
    text-align: left;
  }

  .link span>div svg {
    margin-left: 25px;
  }

  .eng {
    padding: 0px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .social>span {
    cursor: pointer;
    transition: opacity 0.2s;
    color: inherit;
    width: 36px;
  }

}

@media screen and (min-width:960px) {
  .tab {
    display: none;
  }

  .user {
    width: 180px;
  }

  .desktop-span {
    display: flex;
    width: max-content;
    padding-left: .5px;
    letter-spacing: .301px;
  }

  
  .logo1{
   width: 42px;
   height: 24px;
  }
  
  .logo-tab svg {
    display: none;
  }
  
  .logo-tab .name {
   
    width: 100%;
    height: 100%;
    margin-left: 12px;
    margin-top: 3px;
  }
.name{
  display: flex;
}
  .search img{
    width: 24px;
  }

  .desktop {
    display: flex;
    width: 222.5px;
    height: max-content;

  }
  .center{
    margin-top:8px
  }

  .user {
    padding: 0px 0px 6px 12px;
    min-width: 192.33px;
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  .user .desktop-span  {
    letter-spacing: -0.01px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    padding-top: 6px;
  }

  .user img {
    width: 18px;
    height: 18px;
    padding-top: 3px;
  }
  .desktop-form input{
    margin-left: 10.5px;
  }
  .h2 h2{
    letter-spacing: -0.01px;
  }

}

@media screen and (min-width:1184px) {
  .logo .desktop {
    padding-top: 11.1px;
    position: relative;
  }

  .signin {
    margin-left: -4px;
  }

  .signin .btn1 {
    padding: 8.8px 11.5px;
    letter-spacing: .01px;

  }

  .signin .btn2 {
    padding: 8.5px 12px;
  }

  .address {
    max-width: 420px;
    min-height: 56px;
    min-width: 408px;
    margin-left: 10px;
    box-sizing: border-box;
  }

  .desktop-tab {
   
    width: 400px;
  }

  .h2 h2 {
    letter-spacing: -0.01px;
  }


  .desktop-form{
    justify-content: space-between;
    padding-right: 5px;
    padding: 0;
    
  }
.form-txt input{
  padding: 8px 7.5px 8px 3.8px;
}
.desktop-form input{
  margin: 6px;
}
.form-txt img{
  margin-left: 4px;
}
.desktop-form>div:last-child{
  padding: 3px 5px 4px 1px;

}
  .desktop-form button {
    background-color: #eb1700;
    justify-content: center;
    align-items: center;
    width: 40px;
    max-width: 100%;
    display: flex;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    margin-left: 8px;
    padding-bottom: 0;
  }

  .desktop-form button svg {
    filter: invert(1);
    fill: #fff;
    margin-top: -.5px;
    margin-left: 5px;
    display: flex;
  }
  .user .desktop-span span {
    letter-spacing: 1px;
    width: 100%;
    line-height: 20px;
  }

  .user img{
    margin-top: 3px;
  }

  .section1 {
    max-width: 1104px;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
  }

  .section-padding {
    display: flex;
    justify-content: center;
    margin-top: 76px;
     padding: 12px;
     box-sizing: border-box;
     margin-bottom: 84px;
  }

  .section-content {
    justify-items: center;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    gap:0;
    box-sizing: border-box;

  }
  .cardssss{
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;

  }

  .card {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
        min-width: 360px;

  }

  .card-padding {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: left;
    max-width: 100%;
    box-sizing: border-box;

  }

  .picture {       
    display: flex;
    justify-content: center;
    max-width: 264px;
    width: 100%;
    min-height: 154px;
    margin-bottom: -20px;
    box-sizing: border-box;
    overflow: hidden;
   margin-top: 0;

  }

  .image2 {
    margin-left: 12px;
    overflow: hidden;

  }

  .picture:nth-child(2) {
    margin-left: 30px;
  }
.picture{
  align-items: center;
}
  .picture img {
    width: 154px;
    height: 154px;
    /* margin-top: 10px; */
    overflow: hidden;

  }

  .discript:first-child {
    margin-left: -100px;
  }

  .discript {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
    min-height: 194px;
    /* height: 100%; */
    justify-content: left;
    align-items:center;
    /* margin-left: -25.5px; */
  }

  .info {
    display: flex;
    flex-flow: column;
    /* max-width: 250px; */
    width: 100%;
    text-align: center;
    
  }

  .info h3 {
    margin-top: 10px;
    width: 100%;

  }

  .discript button span {
    font-family: "TTnorms-bold";
    font-size: 16px;
    line-height: 22px
  }

  .section2 {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-self: center;

  }

  .right-pic {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .right-padding {
    margin-bottom: -40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    max-width: 1184px;


  }


  .right-img {
    max-width: 695.033px;

  }

  .right-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .left-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -30px; */
    width: 100%;
    overflow-x: hidden;
  }

  .left-padding2 .pic-contents2 {
    margin-left: -30px;
    padding-bottom: 20px;
    max-width: 1184px;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }


  .right-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .four-pic-head h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    max-width: 500px;
  }

  .left-padding {
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 241, 238);
    align-items: center;
    justify-content: center;
    min-width: 90%;
    padding-top: 80px;
  }

  .left-padding2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 241, 238);
    align-items: center;
    justify-content: center;
    min-width: 90%;
    padding-top: 80px;
  }

  .pic-contents2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .pre-content {
    width: 20%;
  }

  .top-footer {
    width: 100%;

  }

  .catogory-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .mid-footer .catogory-content {
    display: flex;
    flex-flow: row;
  }

  .for-padding {
    display: flex;
    align-items: flex-end;
  }

  .links {
    gap: 15px
  }

  .footer {
    
    height: 812px;
  }

  footer {
    max-width: 1118px;
    background-color: #191919ff;
   


  }

  .footer-padding {
    background-color: #191919ff;

  }

  .mid-footer {
    padding-top: 20px;
  }

  .lower-footer {
    padding-top: 20px;

  }

  .for-padding {
    margin-top: -60px;
  }

  .top-footer h2 {
    margin-bottom: 12px;
  }

  .hidden {
    display: flex;
    margin-top: 10px;
    max-width: 578px;
    width: 100%;
    margin-top: -px;
  }

  .hidden>div {
    margin-right: 8px;
  }

 

  .hidden>div:not(div:first-child) {
    margin-right: 50;
    /* background-color:gray ; */
  }

  .catogory-content>div:nth-child(2) {
    max-width: 530px;
  }


}