* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* width: 100%; */
}

@font-face {
  font-family: "TTnorms-bold";
  src: url("fonts/TTNorms-Bold.woff2");
}

@font-face {
  font-family: "TTnorms-medium";
  src: url("/fonts/TTNorms-Medium.woff2");
}

@font-face {
  font-family: "TTnorms-regular";
  src: url("fonts/TTNorms-Regular.woff2");
}

body {
  overflow-y: scroll;
}

.doordash {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}

.banner {
  display: flex;
  width: 100%;
  background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png");
  height: 65.3vh;
  background-size: cover;
  overflow: hidden;
  /* height: 550px; */
  padding: 0px 8px;
  flex-flow: column;
  align-items: center;
  z-index: 1;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

@media screen and (min-width:382px) {
  .doordash {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

  header {
    display: none;
  }

  .logo {
    display: none;
  }

  .desktop-tab {
    display: none;
  }

  .desktop-span {
    display: none;
  }

  .signin {
    display: none;
  }

}

/* mobile screen */
@media screen and (min-width:100px) {


  .doordash {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

  header {
    display: none;
  }

  .logo {
    display: none;
  }

  .desktop-tab {
    display: none;
  }

  .banner {
    height: 550px;
    /* width: 100%; */
  }

  .desktop-span {
    display: none;
  }

  .signin {
    display: none;
  }

  .mobile {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-start;
  }

  .hide {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    /* background-color: aqua; */
    margin-top: -145px;
    width: 100%;
    padding-right: 24px;
    margin-left: -15px;
  }

  .hide button {
    display: flex;
    align-items: center;
    width: 100%;
    width: max-content;
    cursor: pointer;
    /* transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
    text-decoration: none;
    text-align: center;
    padding: 4.5px 12.5px;
    /* padding-bottom: 5px; */
    margin: 0;
    font-family: "TTnorms-bold" !important;
    font-size: 15px;
    line-height: 23px;
    border: none;
    border-radius: 18px;
  }

  .hide .login {
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
  }

  .hide .openapp {
    background-color: rgb(235, 23, 0);
    color: white;
    /* padding-left: 12.6px; */

  }

  .center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 129px;
    align-items: center;
    gap: 20px;
    /* margin-left:-10px ; */
  }

  .logo-mob {
    display: flex;
    flex-flow: row;
    align-items: center;
    /* margin-top: 280px; */
    width: 100%;
    justify-content: center;
    gap: 7.4px
  }

  .logo-mob .logo1 {
    width: 4.30%;
    margin-left: 1px;

  }

  .name {
    margin-top: 1px;
    width: 15%
  }

  .h2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .h2 h2 {
    max-width: 325px;
    letter-spacing: 0px;
    font-size: 22px;
    line-height: 28px;
    font-family: "TTnorms-bold";
    color: white;
    /* align-items: center; */
    text-align: center;
    font-weight: 400;
  }

  .form {
    background-color: white;
    display: flex;
    padding: 3.5px;
    border-radius: 25px;
    min-height: 40px;
    width: 347px;
    justify-content: space-between;
    /* margin-left: 13px; */
    margin-top: 2px;
  }

  .form-cont {
    display: flex;
    flex-flow: row;
    padding-top: px;
    /* padding-bottom: 4px; */
    padding-left: 10px;
    gap: 16px;
    padding-right: 5px;
    width: 100%;
    /* padding: 5px; */


  }

  .form img {
    display: flex;
    align-items: center;
    width: 24px
  }

  .form input {
    border: none;
    font-family: "TTnorms-medium" !important;
    font-size: 16px;
    line-height: 22px;
    width: min-content;
    color: #767676ff;
    /* margin-left: 10px; */
  }

  .form button {
    border: none;
    background: transparent;
    /* width: 50px; */
  }

  .user {
    display: flex;
    flex-flow: row;
    background-color: white;
    gap: 4px;
    padding: 4px 12px;
    border-radius: 24px;
    margin-top: -2px;
  }


  .user .mobile-span {
    font-family: "TTnorms-bold" !important;
    font-size: 13.333px;
    line-height: 22px;
  }

  .tab {
    display: none;
  }

  .desktop-span {
    display: none;
  }

  /* main */
  .main {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* gap: 20px */
  }

  /* add */

  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0px;
    width: 360px;
    /* width: 100%; */

  }

  .add-padding {
    display: flex;
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(247, 247, 247);
    max-width: 100%;
    padding: 20px;
  }

  .add-content {
    display: flex;
    flex-flow: row;
    text-align: left;
  }

  .samall-logo {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    margin-right: 8px;
    padding: 9px;
    justify-content: center;
    /* box-sizing: border-box; */

  }

  .small.logo img {
    box-sizing: border-box;
    margin-bottom: px;
  }

  .add-discript {
    display: flex;
    flex-flow: column;
    text-align: left;
    /* gap:3px */
  }

  .add-discript .head {
    font-size: 18px;
    font-family: "TTnorms-bold";
    line-height: 22px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    margin-bottom: 4px;
  }

  .add-discript p {
    line-height: 22px;
    letter-spacing: 0px;
    font-size: 14px;
    color: rgb(118, 118, 118);
    font-family: "TTnorms-medium";
    margin-bottom: 8px;
  }

  .add-discript button {
    position: relative;
    max-width: 124.217px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: medium;
    cursor: pointer;
    background-color: rgb(235, 23, 0);
    box-shadow: transparent 0px 0px 0px 1px inset;
    color: rgb(255, 255, 255);
    gap: 5px;
  }

  .add-discript span {
    font-size: 14px;
    font-family: "TTnorms-bold";
    line-height: 16px;
    letter-spacing: 0ch;
    text-align: center;
    align-items: center;
  }


  /* main1 */
  .section1 {
    max-width: 768px;
    margin-top: 20px;
  }

  .section-padding {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
    justify-content: center;
  }

  .section-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    /* height: 100%; */
    gap: 30px;
    width: 100%;


  }

  .card {
    display: flex;
    width: 100%;
    min-width: 360px;
    flex-flow: row;
    /* padding: 6px; */
    justify-content: center;
    align-items: center;
  }

  .picture {
    margin-right: 32px;
    margin-top: -60px;
  }

  .picture img {
    height: 88px;
    width: 88px;
  }

  .discript {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
    gap: 10px;
    margin-top: 20px;
  }

  .info {
    max-width: 100%;
  }

  .info h2 {
    font-family: "TTnorms-bold";
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }

  .info h3 {
    font-family: "TTnorms-regular";
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
  }

  .discript button {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    border: none;
    gap: 2px;

  }

  .discript button span {
    color: #eb1700ff;
    font-family: "TTnorms-bold";
    font-size: 14px;
    line-height: 20px;

  }

  .section2 {
    width: 100%;
  }

  .right-pic {
    width: 100%;
  }

  .right-padding {
    margin-bottom: -300px;
  }

  .pic-contents {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;

  }

  .right-img {
    width: 100%;
  }

  .right-img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .pic-discript {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    min-height: 230px;
    /* max-width: 344px; */
    /* background-color: rgb(254, 241, 238); */
  }

  .pic-discript h2 {
    text-align: left;
    max-width: 90%;
    /* margin-top: 20px; */
    font-family: "TTnorms-bold";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01px;
    /* margin-top:50px; */
  }

  .pic-discript span {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    font-family: "TTnorms-bold";
    font-weight: 500;

  }

  .pic-discript p {
    margin-top: 10px;
    font-family: "TTnorms-medium";
    font-size: 14px;
    line-height: 20px;
    display: block;
  }

  .button {
    padding: 10px;
  }

  .button span {
    font-family: "TTnorms-bold";
    font-size: 14px;
    background-color: #eb1700;
    color: white;
    padding: 7px 10px;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    display: inline-flex;
  }

  .left-pic {
    width: 100%;
    background-color: rgb(254, 241, 238);
    /* padding-bottom: 20px; */

  }

  .left-padding {
    display: flex;
    flex-direction: column;
    padding-top: 320px;
    align-items: center;
    min-width: 90%;
  }

  .mid-image {
    background: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png");
    position: relative;
    height: 350px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

  }

  .mid-padding {
    background-color: rgba(30, 30, 30, 0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    place-content: center;
    text-align: center;

  }

  .mid-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);

  }

  .mid-contents h2 {

    font-family: "TTnorms-bold";
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    max-width: 90%;
    margin-top: 20px;
  }

  .mid-contents span {

    font-family: "TTnorms-bold";
    font-weight: 18px;
    line-height: 22px;
    margin-top: 10px;
  }

  .mid-contents p {
    font-family: "TTnorms-medium";
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }

  .mid-image .button {
    /* margin-top: 20px; */
  }

  .four-pic-head {
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 40px 20px 20px;
    width: 100%;
    margin-top: 230px;
  }

  .four-pic-head h2 {
    text-align: center;
    max-width: 300px;
    font-family: "TTnorms-bold";
    font-size: 24px;
    line-height: 28px;
    color: #191919;
    font-weight: 500;

  }

  .four-pic {
    display: flex;
    flex-flow: row;
    overflow: scroll;
    width: 100%;
    background-color: rgb(254, 241, 238);
  }

  .card-img {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    margin-left: 5%;
    margin-right: -10%;
  }

  .image {
    width: 100%;
  }

  .image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .card-discript {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .card-discript h2 {
    max-width: 90%;
    margin-top: 20px;
    text-align: center;
    color: #191919;
    font-family: "TTnorms-bold";
    font-size: 24px;
    line-height: 28px;
  }

  .card-discript p {
    font-family: "TTnorms-medium";
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}






/* tab screen */
@media screen and (min-width:768px) {
  .doordash {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

  .desktop {
    display: none;
  }

  .banner {
    height: 650px;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    width: 100%;
    /* justify-content: center; */
  }

  .logo-mob {
    display: none;
  }

  .desktop-span {
    display: none;
  }

  .hide {
    display: none;
  }

  header {
    background: transparent;
    display: flex;
    flex-flow: row;
    margin-top: -0px;
    width: 100%;
    min-height: 40px;
    justify-content: center;
    align-items: center;

  }

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-top: -185px;
    width: 100%;
    min-height: 40px;
    gap: 8px;
  }

  .logo .name {
    width: 112.5px;
    margin-top: 1px;
  }

  .logo1 {
    width: 32px;
  }

  .signin {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -578px;
    margin-right: 42px;
    gap: 8px
  }

  .signin button {
    border: none;
    background: transparent;
    padding: 10px;
    font-family: "TTnorms-bold" !important;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 24px;

  }

  .signin .btn1 {
    background-color: #eb1700;
    color: white;
  }

  .signin .btn2 {
    background-color: white;
    color: #505050;
    padding: 8px 11px;

  }

  .h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h2 h2 {
    color: white;
    text-align: center;
    max-width: 750px;
    font-family: "TTnorms-bold";
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;

  }

  .center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 199px;
    align-items: center;
    gap: 20px;
  }


  .form {
    display: none;
  }

  .desktop-tab {
    background-color: white;
    display: flex;
    padding: 3.5px;
    border-radius: 25px;
    /* min-height: 40px; */
    height: 48px;
    min-width: 392px;
    width: 100%;
    justify-content: space-between;
    /* margin-left: 13px; */
    margin-top: 2px;
    border-radius: 32px;
  }

  .desktop-form {
    width: 100%;
    display: flex;
    /* min-height: 40px; */
    padding: 8px 8px 8px 4px;
    /* max-width: 100%; */
    margin-left: 12px;
    gap: 10px;
  }

  .desktop-form img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px
  }

  .desktop-form input {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0ch;
    font-weight: 500;
    border: none;
    font-family: "TTnorms-medium";
    color: #767676ff;

  }

  .desktop-form button {
    width: 100%;
    direction: flex;
    justify-content: flex-end;
    border: none;
    background: transparent;
    margin-left: 58px;

  }

  .user {
    display: flex;
    flex-flow: row;
    background-color: white;
    gap: 4px;
    padding: 4px 12px;
    border-radius: 24px;
    margin-top: -2px;
  }


  .user span {
    font-family: "TTnorms-bold" !important;
    font-size: 13.333px;
    line-height: 22px;
  }

  .tab {
    display: flex;
  }

  .mobile-span {
    display: none;
  }

  .add {
    display: none;
  }

  .section2 {
    width: 100%;
    margin-top: 20px;
  }

  .right-padding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -60px;
    padding: 20px;
    min-width: 90%;
    align-items: center;
  }

  .pic-contents {
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    gap: 60px;
    max-width: 1184px;
    padding: 0;
  }

  .pic-discript {
    /* display: flex; */
    max-width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    gap: 20px;
    /* width: 100%; */
  }

  .pic-discript h2 {
    font-family: "TTnorms-bold";
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
    /* min-width: 336.65; */
    font-weight: 500;
    padding-bottom: 20px;
  }

  .pic-discript span {
    font-size: 20px;
    line-height: 24px;
    /* margin-top: 0px; */
  }

  .pic-discript p {
    font-size: 16px;
    line-height: 22px;
  }

  .right-img {
    max-width: 100%;
    /* width: 293.333px; */


  }

  .right-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .left-pic {
    width: 100%;
  }

  .left-padding {
    display: flex;
    /* flex-direction: row-reverse; */
    background-color: rgb(254, 241, 238);
    padding-top: 320px;
    align-items: center;
    min-width: 90%;
    padding-top: 80px;
  }

  .left-padding .pic-contents {
    display: flex;
    flex-flow: row
  }

  .mid-image {
    height: 600px;

  }

  .mid-contents h2 {
    font-size: 40px;
    line-height: 40px;
  }

  .mid-contents span {
    font-size: 20px;
    line-height: 20px;
  }

  .mid-contents p {
    font-size: 16px;
    line-height: 22px;
  }

  .four-pic-head {
    display: flex;
    justify-content: center;
    background-color: rgb(254, 241, 238);
    padding: 60px 20px 40px;
    width: 100%;
    margin-top: 0;
  }

  .four-pic-head h2 {
    text-align: center;
    /* max-width: 500px; */
  }

  .four-pic {
    display: grid;
    width: 100%;
    background-color: rgb(254, 241, 238);
    grid-template-columns: repeat(2, 1fr);
  }

  .card-img {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    max-width: 50%;
    min-width: 50%;
  }
.card-img{
  width: 100%;
}
.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
  .card-discript h2 {
    font-size: 40px;
    line-height: 40px;
    max-width: 90%;
    margin-top: 20px;
  }

  .card-discript p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;

  }
  .card-discript .button{
    margin-top: 30px;
  }

}

@media screen and (min-width:960px) {
  .tab {
    display: none;
  }

  .user {
    width: 180px;
  }

  .desktop-span {
    display: flex;
    width: max-content;
  }

  .logo {
    width: 100%;
  }

  .logo1 {
    display: none;
  }

  .name {
    display: none;
  }

  .desktop {
    display: flex;
    /* width: 100%; */
    /* min-height: 24px; */
    width: 222.5px;
    height: max-content;

  }
}


@media screen and (min-width:1184px) {
  .desktop-form button {
    background-color: #eb1700;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    /* padding: 8px; */
    /* padding: 5px 5px 5px 5px; */
  }

  .desktop-form img {
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    /* padding: 8px; */

  }

  .section1 {
    max-width: 1184px;
    width: 100%;
  }

  .section-padding {
    display: flex;
    justify-content: center;
    max-width: 100%;


  }

  .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* gap: 30px; */
    /* margin: 48px; */
    margin-top: 58px;
    margin-bottom: 48px;
    margin-left: 48px;
    max-width: 1080px;
    height: 100%;
    width: 100%;

  }

  .card {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    max-width: 100%;
    /* padding: 16px; */
  }

  .picture {
    display: flex;
    justify-content: center;
    /* margin: 32px; */
    max-width: 264px;
    width: 100%;
    min-height: 154px;
  }

  .picture img {
    width: 154px;
    height: 154px;
  }

  .discript {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
    min-height: 194px;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
  }

  .info {
    display: flex;
    flex-flow: column;
    /* max-width: 250px; */
    width: 100%;
    text-align: center;
    /* height: 100%; */
    /* column-gap: 10px; */

  }

  .info h3 {
    margin-top: 10px;
    width: 100%;

  }

  .discript button span {
    font-family: "TTnorms-bold";
    font-size: 18px;
    line-height: 22px
  }

  .section2 {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-self: center;
    /* background-color: antiquewhite; */
    /* margin-left: 250px;
    margin-right: 250px; */
  }

  .right-pic {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .right-padding {
    margin-bottom: -60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: -60px; */
    padding: 20px;
    min-width: 90%;
    align-items: center;
    max-width: 1184px;


  }

  .right-img {
    max-width: 695.033px;
  }

  .left-pic {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-padding {
    display: flex;
    /* flex-direction: row-reverse; */
    background-color: rgb(254, 241, 238);
    padding-top: 320px;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    padding-top: 80px;
  }

}